{% extends 'base.html.twig' %}

{% block title %}Usuarios index{% endblock %}

{% block body %}
    <h1>Usuarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Nacimiento</th>
                <th>Sexo</th>
                <th>Ciudad</th>
                <th>Aficiones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.Nombre }}</td>
                <td>{{ usuario.Apellidos }}</td>
                <td>{{ usuario.Nacimiento ? usuario.Nacimiento|date('Y-m-d') : '' }}</td>
                <td>{{ usuario.Sexo }}</td>
                <td>{{ usuario.Ciudad }}</td>
                <td>{% for Aficion in usuario.getAficiones() %}
                     <li>{{ Aficion.Nombre }}</li>
                     {% endfor %}</td>
                <td>
                    <a href="{{ path('usuarios_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('usuarios_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usuarios_new') }}">Create new</a>
{% endblock %}
