{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.Nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ usuario.Apellidos }}</td>
            </tr>
            <tr>
                <th>Nacimiento</th>
                <td>{{ usuario.Nacimiento ? usuario.Nacimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ usuario.Sexo }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                
                {% if usuario.imagen != false %}
                <td><img src="{{ asset('data/imagenes/'~usuario.imagen) }}"></td>
                {% endif %}

                {% if usuario.imagen == false %}
                <td><p> Este usuario no tiene imagen </p> </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuarios_index') }}">back to list</a>

    <a href="{{ path('usuarios_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuarios/_delete_form.html.twig') }}
{% endblock %}
