{% extends 'base.html.twig' %}

{% block title %}Ciudades index{% endblock %}

{% block body %}
<div class="contenedor">
    <header>
        <h1>Ciudades</h1>
    </header>
   

    <table class="tabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ciudade in ciudades %}
            <tr>
                <td>{{ ciudade.id }}</td>
                <td>{{ ciudade.Nombre }}</td>
                <td>
                    <a href="{{ path('ciudades_show', {'id': ciudade.id}) }}" class="btn">Mostrar</a>
                    <a href="{{ path('ciudades_edit', {'id': ciudade.id}) }}" class="btn">Editar</a>
                    {# <a href="{{ path('ciudades_delete', {'id': ciudade.id}) }}" class="btn">Borrar</a> #}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay información en la BBDD</td>
            </tr>
            
        {% endfor %}
            <tr>
                <td><a href="{{ path('ciudades_new') }}" class="btn">Agregar nuevo</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
