{% extends 'base.html.twig' %}

{% block title %}Ciudades index{% endblock %}

{% block body %}
    <h1>Ciudades index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ciudade in ciudades %}
            <tr>
                <td>{{ ciudade.id }}</td>
                <td>{{ ciudade.Nombre }}</td>
                <td>
                    <a href="{{ path('ciudades_show', {'id': ciudade.id}) }}">show</a>
                    <a href="{{ path('ciudades_edit', {'id': ciudade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ciudades_new') }}">Create new</a>
{% endblock %}
