{% extends 'base.html.twig' %}

{% block title %}Ciudades index{% endblock %}

{% block body %}
<div class="contenedor">
    <header>
        <h1>Ciudades</h1>
    </header>
    <main>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ciudade in ciudades %}
                <tr class="hover-bg">
                    <td>{{ ciudade.id }}</td>
                    <td>{{ ciudade.Nombre }}</td>
                    <td>
                        <a href="{{ path('ciudades_show', {'id': ciudade.id}) }}" class="btn">Mostrar</a>
                        <a href="{{ path('ciudades_edit', {'id': ciudade.id}) }}" class="btn">Editar</a>
                        <div class="caja-btn">
                            {{ include('ciudades/_delete_form.html.twig') }}
                        </div> 
                    </td>
                </tr>
            {% else %}
                <tr class="hover-bg">
                    <td colspan="3">No hay información en la BBDD</td>
                </tr>
                
            {% endfor %}
                <tr>
                    <td><a href="{{ path('ciudades_new') }}" class="btn btn-primary">Agregar nuevo</a></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>

{% endblock %}
