{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(registerForm,  {'attr': {'class': 'form-signin'}} ) }}
        <h2 class="h3 mb-3 font-weight-normal">Registrando nuevo admin</h2>
         <div class="form-group">
        {{ form_row(registerForm.email, {'attr': {'class': 'form-control'}}) }}
        </div>
         <div class="form-group">
        {{ form_row(registerForm.password, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
        {{ form_row(registerForm.roles, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn btn-lg btn-primary btn-block">Register</button>
    {{ form_end(registerForm) }}

{% endblock %}
